<nav class="nav">
    <a href="{{ .Site.Home.Permalink }}"><img class="nav" src="{{ "images/ShipFoldLogo.png" | relURL }}" alt="Logo"></a>
    <ul class="nav">
        <li class="nav"><a href="{{ .Site.Home.Permalink }}">{{ i18n "home" }}</a></li>
        <li class="nav"><a href="{{ (site.GetPage "section" "downloads").RelPermalink }}">{{ i18n "downloads" }}</a></li>
        <li class="nav"><a href="{{ (site.GetPage "section" "instructions").RelPermalink }}">{{ i18n "instructions" }}</a></li>
        <li class="nav"><a href="{{ (site.GetPage "section" "terms_of_use").RelPermalink }}">{{ i18n "terms_of_use" }}</a></li>
        <li class="nav"><a href="{{ (site.GetPage "section" "privacy_policy").RelPermalink }}">{{ i18n "privacy_policy" }}</a></li>
        <li class="nav"><a href="{{ (site.GetPage "section" "legal_notice").RelPermalink }}">{{ i18n "legal_notice" }}</a></li>
    </ul>
</nav>